#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  #card{
    margin: 0 auto;
    width: 50%;
    ion-card{
      background-color: rgb(80, 114, 224);
    }
    ion-button{
        font-size: 25px;
    }
  }
  #title-label{
    margin-left: 7.5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  #out_color{
    float: right;
    font-size: 30px;
    color: ghostwhite;;
  }
  #out_color:hover{
    float: right;
    font-size: 30px;
    color: #000;
  }
  